
/* Font Imports */
@import url('https://fonts.googleapis.com/css2?family=Abhaya+Libre&display=swap');

/*-- Base Style for 320 pixel min-width --*/
html {
  font-family: 'Abhaya Libre', serif;
}

body {

}

/*Home Logo*/
#home_Link {
  text-align: left;
  position: relative;
}

#home_logo {
  position: relative; /*temp*/
  /*position: absolute;*/ 
  width: 60px;
}

/* About Myself Container CSS */

#info-container {
  margin: .3em;
  border: 2px solid black;
  background-color: #C0C0C0;
}

#info-container h1 {
  display: block;
  margin: .25em;
  text-align: left;
  font-size: 1.75em;
  font-weight: 700;
}

#profile-picture {
  display: block;
  width: 5em;
}

#info-container ul {
  display: block;
  margin: .5em;
  list-style-type: circle;
  font-size: 1.3em;
}

#info-container ul li {
  display: block;
  margin:.25em .4em;
}

#info-container p {
  margin: .2em .5em;
  font-size: 1.35em;
}

/* Timeline Container CSS */
#timeline-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 200px /* Change Size of Timeline Container */
}

.event-timeline {
  display: flex;
  margin: .25em;
  border: 5px solid black;
  padding: .25em;
}

.vertical-line {
  border: 2px solid black;
  width: 10px;
  height: 100%; /* Line Height of Timeline Container */
  background-color: #A9A9A9; 
}

/*Form Container CSS*/
#form-container {
  display: block;
  position: relative;
  margin: .3em;
  border: 2px solid black;
  padding: .3em;
  background-color: #C0C0C0;
}

#form-container h1 {
  text-align: center;
  font-size: 2em;
  font-weight: 600;
}

#contact-form {
  text-align: center;
}

.form-containers {
  padding: .5em;
}

#contact-form label {
  display: block;
  text-align: left;
  font-size: 1.25em;
}

#contact-form input {
  width: 90%;
}

#contact-form textarea {
  width: 90%;
}

#submit-button {
  margin-bottom: .75em;
  padding: .5em;
  font-size: 1.2em;
}

/*Social Bar CSS*/
#social-bar {
  display: block;
  border-top: 2px solid black;
  padding: 10px;
  padding-top: 5px;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: #C0C0C0;
}

#social-content {
  text-align: center;
}

#social-content a {
  display: inline-block;
  margin: 0 10px;
  color: black;
  text-decoration: none;
}

#social-logo {
  width: 50px;
}
